[[source]]
url = "https://pypi.python.org/simple"

[packages]
blockchain-parser = '*'
monero-serialize = {path = "/home/drgrid/monero-serialize"}
python-bitcoinlib = '*'
python-magic = '*'
lmdb = "*"
plyvel = "*"

[requires]
python_version = "3.7.0"

[dev-packages]
black = "*"

[pipenv]
allow_prereleases = true
